.container {
    display: flex;
}

.categories {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    width: 30%;
}

.categories_item {
    width: 200px;
    background-color: rgb(140, 124, 240);
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 2px;
    font-size: 16px;
    text-transform: uppercase;
    padding: 15px;
}

.part_product {
    margin-left: 20px;
    width: 30%;
}

.product {
    margin-bottom: 20px;
    cursor: pointer;
}

.product_item {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}

.product_image {
    max-width: 33%;
    max-height: 100px;
    margin-top: 15px;
}

.product_title {
    font-weight: 600;
}

.info_container {
    width: 400px;
    margin-left: 50px;
    width: 30%;
}

.info_product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.image_product {
    width: 30%;
}

p {
    font-size: 12px;
}

.price {
    font-size: 14px;
    font-weight: 600;
}

.button {
    width: 100px;
    cursor: pointer;
}